body {
    background-color: rgb(244, 236, 216);
    width: 42em;
    margin: 0 auto;
    /* font-family: Tahoma, Verdana, Arial, sans-serif; */
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.6;
    font-size: 18px;
}
header, footer {
    text-align: center;
}
